<!DOCTYPE html>
<html lang="en">

<head>
    <title>carousel component</title>
    <style>
        .carousel {
            width: 500px;
            height: 300px;
            outline: 1px solid slateblue;
            white-space: nowrap;
            overflow: hidden;
        }

        .carousel>img {
            width: 100%;
            height: 100%;
            display: inline-block;
            transition: transform ease 0.5s;


        }
    </style>
</head>

<body>
    <div id="container"></div>
    <script>
        class Carousel {
            constructor(option) {
                this.root = null;
                this.data = option.data;
            }
            render() {
                this.root = document.createElement('div');
                this.root.classList.add('carousel');
                for (let src of this.data) {
                    let element = document.createElement('img');
                    element.src = src;
                    element.addEventListener('dragstart', event => event.preventDefault());
                    this.root.appendChild(element)
                }

                let pos = 0;
                let nextPic = () => {
                    let nextPos = (pos + 1) % this.data.length;
                    let current = this.root.childNodes[pos];
                    let next = this.root.childNodes[nextPos];

                    current.style.transition = 'ease 0s';
                    next.style.transition = 'ease 0s'
                    current.style.transform = `translateX(${-100*pos}%)`;
                    next.style.transform = `translateX(${100-100*nextPos}%)`;
                    setTimeout(() => {
                        current.style.transition = '';
                        next.style.transition = ''
                        current.style.transform = `translateX(${-100-100*pos}%)`;
                        next.style.transform = `translateX(${-100*nextPos}%)`;
                        pos = nextPos
                    }, 16)


                    // setTimeout(nextPic, 3000)
                }
                nextPic()


                this.root.addEventListener('mousedown', (event) => {
                    let startX = event.clientX;

                    let lastPos = (pos - 1 + this.data.length) % this.data.length;
                    let nextPos = (pos + 1) % this.data.length;


                    let current = this.root.childNodes[pos];
                    let last = this.root.childNodes[lastPos];
                    let next = this.root.childNodes[nextPos];


                    current.style.transition = 'ease 0s';
                    last.style.transition = 'ease 0s';
                    next.style.transition = 'ease 0s'

                    current.style.transform = `translateX(${-500*pos}px)`;
                    last.style.transform = `translateX(${-500-500*lastPos}px)`;
                    next.style.transform = `translateX(${500 -500*nextPos}px)`;
                    let move = (event) => {

                        let moveX = event.clientX - startX;
                        current.style.transform = `translateX(${moveX-500*pos}px)`;
                        last.style.transform = `translateX(${moveX-500-500*lastPos}px)`;
                        next.style.transform = `translateX(${moveX+500-500*nextPos}px)`;

                    }
                    let up = (event) => {
                        console.log('up')
                        let offset = 0;
                        if (event.clientX - startX > 250) {
                            offset = 1
                        }
                        if (event.clientX - startX < -250) {
                            offset = -1
                        }

                        current.style.transition = '';
                        last.style.transition = ''
                        next.style.transition = ''

                        current.style.transform = `translateX(${offset*500-500*pos}px)`;
                        last.style.transform = `translateX(${offset*500-500-500*lastPos}px)`;
                        next.style.transform = `translateX(${offset*500+500-500*nextPos}px)`;


                        pos = (pos - offset + this.data.length) % this.data.length

                        document.removeEventListener('mouseup', up);
                        document.removeEventListener('mousemove', move)
                    }
                    document.addEventListener('mousemove', move);
                    document.addEventListener('mouseup', up)


                })
            }
        }
        let data = [
            'https://static001.geekbang.org/resource/image/bb/21/bb38fb7c1073eaee1755f81131f11d21.jpg',
            'https://static001.geekbang.org/resource/image/1b/21/1b809d9a2bdf3ecc481322d7c9223c21.jpg',
            'https://static001.geekbang.org/resource/image/b6/4f/b6d65b2f12646a9fd6b8cb2b020d754f.jpg',
            'https://static001.geekbang.org/resource/image/73/e4/730ea9c393def7975deceb48b3eb6fe4.jpg',
        ];
        let carousel = new Carousel({
            data
        })

        carousel.render()
        document.getElementById('container').appendChild(carousel.root)
    </script>

</body>

</html>